
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Sansita+Swashed&display=swap');

body {
    background-color: #69ADA9;
    margin : auto; 
}

.title {
    font-size:36px;  
    width:50%; 
    margin:auto;
    text-align:center; 
    color: white; 
    font-family: 'Sansita Swashed', cursive;
    margin-right:15px; 
}

h2 {
    font-size:36px;  
}

#list-travel {
  
    display: flex; 
    justify-content: space-around;
    width:50%; 
    height:90vh;    margin : auto; 
}


.app-travel {
    background-color: #EFEFEF; 
    width:50%; 
    height:80vh; 
    border-radius:30px; 
    margin:auto; 
}



.formulaire {
    width:100%; 
    margin:auto;
    display: flex; 
    justify-content: space-around;
    margin-top:15%; 

}

input {
background-color: #FFFFFF;
border-radius: 10px;
height: 30px;
width: 65%;
border:none; 

}

#MyInput {
    text-align:center;
}

button {
    background-color: #C1DAD8; 
    border:none; 
    border-radius: 10px;
    height: 30px;
    width: 15%;
    font-size:25px; 
}

.list-travel1 {
width:100%;
height: 52%;
margin-top:10%; 
background: rgba(251, 251, 251, 0.83);
border-radius: 30px;
}

footer {
   margin:auto;
   text-align:right;
   color:white; 
   width:90%; 
   text-transform:uppercase; 
   font-family: 'Merriweather', serif;

}